.profile-setup .profile-setup-page-wrapper {
  padding: 0 20px 52px;
  display: flex;
  flex-direction: column-reverse;
}

.profile-setup .profile-setup-page {
  border-radius: 8px;
  background-color: #ffffff;
  border: solid 1px rgba(38, 38, 40, 0.06);
  min-height: 60px;
  margin: -42px 0;
}

.profile-setup .profile-setup-next {
  width: 100%;
  height: 89px;
  border: none;
  border-radius: 35px;
  background-color: #303843;

  padding-top: 46px;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.9px;
  font-family: Fredoka One;
  text-transform: uppercase;
  color: #ffffff;

}

.profile-setup .profile-setup-next:focus {
  outline: 0;
}